{% extends "base.html" %}
{% set active_page = "coupons" %}
{% block title %} Preferences {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="row text-center">
        <div class="col-sm-12">
            <h1>Coupons</h1>
        </div>

    </div>
    <div class="row prefrow">

        <table style="width:100%">
            <tr>
                <th>ITEM UUID</th>
                <th>MIN</th>
                <th>MAX</th>
            </tr>

            {% if entries %}
                {% for item in entries %}
                    <tr>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[2] }}</td>
                        <td>{{ item[3] }}</td>
                    </tr>
                {% endfor %}
            {% endif %}

        </table>
        <br>

        <form action="/coupons/" method="post">
            {{ form.uuid_name }}
            {{ form.submit_delete }}
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename = 'featherstyle.js') }}"></script>
{% endblock %}