{%extends "basewithnav.html"%}
{%set active_page ="index"%}
{%block title%} Home {%endblock%}
{%block head%}
{{super()}}
<link rel="import" href="payment.html">
{%endblock%}
{%block navcontent%}
<div class="container text-center">
<h1>Welcome</h1>
<p>This is the most awesome ISSProject ever created.</p>
<p>What you are about to witness will go beyond your wildest imagination</p>
<p>Awesomeness packed into the size of an okayish website</p>
<p>"This site equates to the eight wonder of the world" - Albert Einstein</p>

</div>
  {%endblock%}