{% extends "basewithnav.html" %}
{%set active_page = active_page | default('index')-%}
{% block title %} Loot Box {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block navcontent %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">LOOT BOXES</h1>
    <p class="lead">You can now acquire the latest fashion items FOR A DISCOUNTED PRICE!!!</p>
  </div>
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Common</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>25 DKK</li>
          <li>Normal discount: 80% chance</li>
          <li>Great discount: 20% chance</li>
        </ul>
        {%if session['username']%}
        <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal"
          data-target="#payment-modal-mp" data-whatever="Common">Buy with MobilePay</button>
        <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal"
          data-target="#payment-modal" data-whatever="Common">Buy with Credit Card</button>
        {%else%}
        <a href="/login">Login</a>
        {%endif%}
        <!-- Modal -->

      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Uncommon</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>40 DKK</li>
          <li>Normal discount: 70% chance</li>
          <li>Great discount: 30% chance</li>
        </ul>
        {%if session['username']%}
        <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal"
          data-target="#payment-modal-mp" data-whatever="Uncommon">Buy with MobilePay</button>
        <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal"
          data-target="#payment-modal" data-whatever="Uncommon">Buy with Credit Card</button>
        {%else%}
        <a href="/login">Login</a>
        {%endif%}
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Rare</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>55 DKK</li>
          <li>Normal discount: 60% chance</li>
          <li>Great discount: 40% chance</li>
        </ul>
        {%if session['username']%}
        <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal"
          data-target="#payment-modal-mp" data-whatever="Rare">Buy with MobilePay</button>
        <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal"
          data-target="#payment-modal" data-whatever="Rare">Buy with Credit Card</button>
        {%else%}
        <a href="/login">Login</a>
        {%endif%}
      </div>
    </div>
  </div>


  <!--Payment card-->
<div class="modal fade" id="payment-modal" data-target="#CreditCard" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Payment</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form action="/lootbox" method="POST">
      <div class="modal-body">
        <div class="form-group">
            <input type="hidden" name="payment" value="" id="hiddenval">
              <div class="form-control" id="card_number">
              {{ form.card_number.label }}
              {{ form.card_number(size=15) }}
              {% if form.card_number.errors %}
                  <ul class="errors">
                      {% for error in form.card_number.errors %}
                          <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
            </div>
            
            <div class="form-control" id="card_holder">
            {{ form.card_holder.label }}
            {{ form.card_holder(size=15) }}
            {% if form.card_holder.errors %}
                <ul class="errors">
                    {% for error in form.card_holder.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}            
            </div>

            <div class="form-control" id="card_month">
            {{ form.card_month.label }}
            {{ form.card_month(size=5) }}
            {% if form.card_month.errors %}
                <ul class="errors">
                    {% for error in form.card_month.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div> 
            
            <div class="form-control" id="card_year">
            {{ form.card_year.label }}
            {{ form.card_year(size=5) }}
            {% if form.card_year.errors %}
                <ul class="errors">
                    {% for error in form.card_year.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div> 

            <div class="form-control" id="card_security">
            {{ form.card_security.label }}
            {{ form.card_security(size=5) }}
            {% if form.card_security.errors %}
                <ul class="errors">
                    {% for error in form.card_security.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>               
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"  data-dismiss="modal">Close</button>
            {{form.submit_pay}}
      </div>
    </form>
    </div>
  </div>
</div>

  <!--Payment phone-->
  <div class="modal fade" id="payment-modal-mp" data-target="#MobilePay" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Payment</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form action="/lootbox" method="POST">                   
        <div class="modal-body">
          <div class="form-group">
            <input type="hidden" name="payment" value="" id="hiddenval-mp"> 
            {{ form.phone_number.label }}
            {{ form.phone_number(size=15) }}
            {% if form.phone_number.errors %}
                <ul class="errors">
                    {% for error in form2.phone_number.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- <label for="phone-number" class="col-form-label">Phone number:</label>
            <input type="text" class="form-control" id="phonenumber" name="phonenumber"> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button"  data-dismiss="modal">Close</button>
            {{form2.submit_pay}}
        </form>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename = 'featherstyle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'paymentevent.js') }}"></script>
{% endblock %}
