<body>
    <div class="form-group">
        <label for="card-number" class="col-form-label">Card number:</label>
        <input type="text" class="form-control" id="card-number">
        <label for="card-holder-name" class="col-form-label">Card holder's name:</label>
        <input type="text" class="form-control" id="card-holder-name">
        <label for="card-month" class="col-form-label">Month:</label>
        <input type="text" class="form-control" id="card-month">
        <label for="card-year" class="col-form-label">Year:</label>
        <input type="text" class="form-control" id="card-year">
        <label for="card-security" class="col-form-label">Security numbers:</label>
        <input type="text" class="form-control" id="card-security">   
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</body>