{% extends "basewithnav.html" %}
{% set active_page = "preferences" %}
{% block title %} Preferences {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block navcontent %}
<div class="row text-center">
    <div class="col-sm-12">
        <h1>Preferences</h1>
    </div>
</div>
    <div class="row prefrow">
        <form action="/update_prefs" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6 form-group">
                    <h2> Primary </h2>
                    {% for primary in prime_entries %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="{{primary}}" id="{{ primary }}"
                                    {% if prime_entries[primary] %} checked {% endif %}>
                            <label class="form-check-label" for="{{ primary }}">
                                {{ primary }} </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-6 form-group">
                    <h2> Secondary </h2>
                    {% for secondary in secondary_entries %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="{{secondary}}" id="{{ secondary }}"
                                    {% if secondary_entries[secondary] %} checked {% endif %}>
                            <label class="form-check-label" for="{{ secondary }}">
                                {{ secondary }} </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">submit</button>

        </form>
    </div>


</div>
<script type="text/javascript" src="{{ url_for('static', filename = 'featherstyle.js') }}"></script>
{% endblock %}