{% extends "base.html" %}
{% set active_page ="register" %}
{% block title %} Register {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block content %}
    <div id="chooseDiv">
        <form id="chooseForm">
            <input type="radio" id="Person" name="choosePositionRB" value="person" checked="checked">
            <label for="Person">Person</label><br>
            <input type="radio" id="Company" name="choosePositionRB" value="company">
            <label for="Company">Company</label><br>
        </form>
        <input type="submit" value="Continue">
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename = 'featherstyle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'registerscript.js') }}"></script>
{% endblock %}
