{% extends "base.html" %}
{% set active_page ="register" %}
{% block title %} Register {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div id="chooseDiv">
                <form id="chooseForm" method="POST" action="/validateChoice" enctype="multipart/form-data">
                    <div class="row">
                        {{ form.radio }}
                    </div>
                    <div class="row">
                        {{ form.submit }}
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename = 'featherstyle.js') }}"></script>
{#    <script type="text/javascript" src="{{ url_for('static', filename = 'registerscript.js') }}"></script>#}
{% endblock %}
